body, html{
    font-family: Montserrat, sans-serif;
    font-size: 16px;    
}

body{
    overflow-x: hidden;
}
.w100 {
    font-weight: 100;
}
.w200 {
    font-weight: 200;
}
.w300 {
    font-weight: 300;
}
.w400 {
    font-weight: 400;
}

#header{
    position: fixed;
    width: 100%;
    height: 80px;
    background:rgb(255,255,255);
    /* background: linear-gradient(to right, #075fd1 -15%, #003aa5 20%); */
    padding: 0.5em;
    z-index: 10;
    margin-bottom: 0px;
    box-shadow: 0px 2px 10px 1px rgba(117, 86, 86, 0.30);
    display: block;
}

#sandwich {
    position: absolute;
    right: 5%;
    font-size: 1.3rem;
}

.pucarahosting{
    display: flex;
    flex-direction: column;
    color:white ;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #075fd1 -15%, #003aa5 20%);
}

.menu{
    right: 5%;
    position: absolute;
}

.menu label{
    color:#27316e ;
    font-size: 25px;
    cursor: pointer;
    

}
.noScroll{
    overflow: hidden;
}

/* Menu Lateral */
#menubtn{
    z-index: 105;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: fixed;
    background: #27316e;    
    height: 100%;
    top: 0; right: 0;
    transition: all 500ms ease;
    z-index: 105;
    opacity: 0;
    visibility: hidden; 
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
    
}
.pmenu{
    color: #ffff;
    padding-left: 1.5em;
}
.cont-menu{
    width: 299px;
    max-width: 320px;
    background:#27316e;
    height: 100%;
    position: relative;
    transition: all 350ms ease;
    /* transform:translateX(100%); */
}
/* #btn-menu:checked ~ .container-menu .cont-menu{ */
    /* transform:translateX(0%);
} */

.cont-menu nav{
    transform: translateY(8%);
}

.cont-menu nav a{
    display: block;
    text-decoration:none;
    padding: 30px;
    color: #c7c7c7;
}
.cont-menu nav a:hover{
   border-right: 5px solid #c7c7c7;
   background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #ffff;
    cursor: pointer;
    font-size: 18px;

}
nav ul  {
    position: static;
    display: none;
}

nav ul.MostrarLineas.mostrar {
    display: block;        
    color: white;
}
nav ul.MostrarMarcas.mostrar {
     display: block;     
     color: white;
}



.cont-menu nav  a {
   position: relative;
   top: 50%;   
  
}
.cont-menu nav  a span {
   position: absolute;
   top: 50%;
   right: 20px;
   transform:translateY(-50%);
   font-size: 22px ;
   transition: transform 0.4s;
   transform:translateY(-50%) rotate(-90deg);
  
}
.cont-menu nav  a:hover span {
   
    transform:translateY(-50%) rotate(-360deg);
    
   
 }
.icon-equis{
    
    padding: 15px;
}
nav ul li{
    display: block;     
    text-decoration: none;   
    padding: 10px;
    cursor: pointer;
   
}
/* Fin Menu Lateral */



#banner{
    z-index: 90;
    background-color: #27316e;
    height: auto;
    min-height: 390px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 54px;
}

#banner .form{
    right: 0;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#banner .product{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 0;
    padding-left:1em ;
    padding-top: 1em;
    min-height: 420px;
    position: relative;
    background-image:url("../img/ofertas.jpg") ;
}


#consultatitle{
    font-size: 1.4em;
    margin-bottom: 1em;
    color: #d5191d;
    text-align: left;
    font-weight: bold;
}



.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;

}

.logo a{
    text-decoration: none;
    color: #27316e;
    padding:1em;
}
#productos{
    /* max-width: 1140px; */
    max-width: 1220px;
}

#productos .motonombre{
    width: 70%;
    font-size:1em;
    margin: 0;
    padding: 0;
    font-weight: 600;
    float: left;
    text-shadow: 2px 1px 5px rgba(0, 2, 10, 0.23);
}

#productos .item{
   margin-bottom: 30px;
   height: auto;
   margin-left: 0;
   margin-right: 0;
   width: 100%;
}

#productos .header{
    padding: 10px;
    color: #ffff;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    background-image: linear-gradient(to right top,#27316e 37%,#27316e 142%);
 }

 #productos .descripcion{
    font-size: 0.9em;
    color: #404040;
    font-weight: 500;
    padding-left:0.5em;
    padding-top: 0.5em;
 }

 .logolocal{
     position: absolute;
     width: 20%;
     top: 100px;
 }

 .logomarca{
     display: block;
    position: absolute;
    margin-top:5px ;
    top: 100px;
    width: 17%;
    right: 5%;
}

.vermas{
    width: 30%;
    float: left;
    text-align: center;
    color: #ffff;
    background-color:#27316e ;
    display: block;
    

}

.cotizar{
    width: 70%;
    float: right;
    text-align: center;
    margin-bottom:0.5em ;

}

.modalmoto{
    padding-top: 10em;
}

 #motofoto{
     display: block;
     max-width: 100%;
     @media screen and (max-width: 1920px) and (min-width: 1441px)
        #motofoto {
            width: 75%;
            margin: 0 auto;
        }
 }

 #iconos{
     background-color: #141935;
     text-align: center;
     padding: 0.5em;     
     
 }
 #iconos .iconos{
    margin: 0 auto;
    width: 90%;
}

 #beneficios{
     margin-top: 5%;
     background-color: #f3f3f2;     
     width: 100%;     
     text-align: center;
 }

 #beneficios .iconos{
    margin: 0 auto;
    background-color: #f3f3f2;   
    

 }

 #footer{
     height: auto;
     min-height: 245px;
     background-image: linear-gradient(to right top,#32409e 20%,#27316e);
     padding-top:5em;
 }

 #WAButton{
     z-index: 500;
 }


.facebook,.instagram,.logofooter{
    padding: 5px;
    cursor: pointer;
}

#social{
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;   
    
}



.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

#loader{
    text-align: center;
    display: none;	
    width: 100%;
    height: 100vh;
    background: #27316e;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10em;
	z-index:999;
}

.load{
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}




#direcciones {
        
    color: #f8f9fa;
    
}

#direcciones ul li {
    padding: 5px;
    list-style: none;
    
}


@media (max-width: 760px) {
    #consultatitle{
        font-size: 1.9em;
        margin-bottom: 1em;
        color: #d5191d;
        text-align: center;
        font-weight: bold;
    }

    #banner .product{
       
        background-image:url("../img/ofertasmovil.jpg") ;
    }

    #direcciones{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        
    }

    #direcciones ul {
        text-decoration: none;
        
    }

}